.header
{
height:300px;
width:1000px
margin-left:auto;
margin-right:auto;
background-color:#0066FF;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
}
.n
{
position:relative;
top=100px;
left:250px;
font-size:36px;
font-style:oblique;
}
.menu
{
height:50px;
width:1000px;
float:left;
background-color:#333399;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul a
{
text-decoration:none;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#0099FF;
}
.f
{
text-align:center;
font-size:18px;
}